html
  font-size 10px
  font-family $fontS, sans-serif
  height 100%
  line-height 1.5

body
  font-size 1.6rem
  font-weight normal
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-smoothing antialiased
  background $powder
  color $metal
  height 100%

#__nuxt
  height 100%
#__layout
  height 100%

*
  -webkit-tap-highlight-color transparent
  -moz-tap-highlight-color transparent
  box-sizing border-box

.page-enter
  opacity 0
  transition none
.page-leave-to
  opacity 0

.page-enter-to
  transition: opacity .9s cubic-bezier(.73,.45,.44,.82) .5s
  opacity 1

.page-enter-active,
.page-leave-active
  overflow hidden
  transition: opacity .7s cubic-bezier(.73,.45,.44,.82)

svg
  width 100%
  height 100%



@media screen and (max-width: 767px)
  html
    font-size calc(10px + 12 * (100vw - 375px) / 392)

@media screen and (min-width: 768px) and (max-width: 1024px)
  html
    font-size calc(10px + 4 * (100vw - 768px) / 256)

@media screen and (min-width: 1025px) and (max-width: 1439px)
  html
    font-size calc(7.5px + 3 * (100vw - 1025px) / 416)

@media screen and (min-width: 1440px) and (max-width: 1920px)
  html
    font-size calc(10.5px + .5 * (100vw - 1440px) / 480)

@media screen and (min-width: 1920px)
  html
    font-size calc(12.5px + 1 * (100vw - 1440px) / 320)



_:default:not(:root:root),
html
  animation webkitfix 1s forwards infinite

@keyframes webkitfix
  100%
    z-index: auto
    
@-webkit-keyframes webkitfix
  100%
    z-index: auto

.page
  display flex
  flex-direction column
  flex 1
  min-height 100%

a
  color $metal
  text-decoration none
  transition opacity .2s ease, color .3s ease
  &:visited
    color inherit
  @media $desktop
    &:hover
      color $green

.container
  width 100%
  max-width $containerWidthDesktop
  margin 0 auto
  height inherit

  @media $mobile-tablet
    width 100%
    padding 2rem
  
  @media $desktop
    padding 0 4rem
  
button
  cursor pointer
  padding 0
  border none
  background-color transparent
  user-select none
  outline none
  appearance none
  -webkit-appearance: none;

input
  outline 0

p
  margin 0

ul
  margin 0
  padding 0
  list-style none

li
  display block

svg
  display block
  width 100%
  height 100%

i
  display block

img
  display block
  max-width 100%
  height auto

.visually-hidden
  position absolute!important
  overflow hidden!important
  clip rect(0 0 0 0)
  height 1px!important
  width 1px!important
  margin -1px!important
  padding 0!important
  border 0!important

.visually-hidden--desktop
  @media $desktop
    position absolute!important
    overflow hidden!important
    clip rect(0 0 0 0)
    height 1px!important
    width 1px!important
    margin -1px!important
    padding 0!important
    border 0!important
.visually-hidden--tablet
  @media $tablet
    position absolute!important
    overflow hidden!important
    clip rect(0 0 0 0)
    height 1px!important
    width 1px!important
    margin -1px!important
    padding 0!important
    border 0!important
.visually-hidden--mobile
  @media $mobile
    position absolute!important
    overflow hidden!important
    clip rect(0 0 0 0)
    height 1px!important
    width 1px!important
    margin -1px!important
    padding 0!important
    border 0!important

